<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Innovatrics gitosis admin interface </title>
</head>

<body>
<h1> This is list of known Git repositories in <strong>Innovatrics</strong> </h1>
<ul>
<% @repos.keys.each do |repo| %>
  <li>
    <h3><%= repo %></h3>
    <table>
    <tr>
      <td><strong>URL: </strong></td>
      <td><span>git clone git@ssh.fingera.com:<%= repo %>.git</span></td>
    </tr>
    </table>
    <h4> User List </h4>
    <ul>
      <% @repos[repo].split(" ").each do |member| %>
        <li>
          <p><%= member %></p>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>
</body>
</html>
